* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#illustration {
  width: 450px;
  height: 300px;
  margin: auto;
}

#container {
  width: 100%;
  height: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0px;
  border-width: 5px;
  border-style: none solid solid solid;
  border-color: #e6e6e6;
  border-radius: 0px 0px 15px 15px;
}

#water {
  width: 100%;
  height: 50%;
  background-color: aqua;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  bottom: 0px;
}

#glass {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(whitesmoke), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, whitesmoke, rgba(255, 255, 255, 0));
  border-radius: 0px 0px 10px 10px;
  position: absolute;
}

#description {
  width: 500px;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}