*
    margin: 0
    box-sizing: border-box
    border: solid 1px red


.square_container
    width: 600px
    height: 600px
    display: grid
    grid-template-columns: repeat(8, 1fr)

.square
    border: solid 1px red
    padding-top: 100%
    